<!DOCTYPE html>

<html>
<head>
	<link rel="stylesheet" type="text/css" href="styles.css">
<title>This is ashish first Html document</title>
</head>

<body style="background-color:powderblue">
	<h1>
		<b>This is heading </b>
	</h1>
	<p>This is my paragraph</p>
	<a href="http://www.chessbot.wixsite.com/iitb"> chess link</a>
	<img src="download.jpeg" alt="http://www.chessbot.wixsite.com/iitb" width="500" height="500">

	<button>Click me </button>
	
	<h3>This is unordered list</h3>
	<ul>
		<li>first thing</li>
		<li>second item</li>
	</ul>
	<ol>
		<li>firt number </li>
		<li>second number</li>
	</ol>
	
	<p>this is something i want a line break here<br> using br</p>
	
	<p style="color:green">this is green due to style attribute</p>
	<p title="This is tile of paragraph">hello there see the title by hovering the mouse </p>
	<hr> <!--this is for horizontal rule -->
	<h1 style="font-size:40px;"> this is heading with 40 px font size</h1>
	
	<h3 style="font-family:courier;">wanna change the font font-size in style attribute is suitable for you</h3>
	<p style="text-align:center;">im gonna align in center</p>
		
	<b>Im bold</b> <br>
	<i>Im italic</i> <br>
	<del>Im not fucking usable</del>
	<p>X<sub>1</sub><sup>2</sup>=Y<sup>2</sup>+1</p>

	<em>my text is emphasized</em> <br>
	
	<q>Im quoted</q> <br>
	<abbr title="Chutiya Seva Shangh">CSS</abbr>

	<blockquote cite="http://www.worldwildlife.org/who/index.html">
	For 50 years, WWF has been protecting the future of nature.
	The world's leading conservation organization,
	WWF works in 100 countries and is supported by
	1.2 million members in the United States and
	close to 5 million globally.
	</blockquote>

	<address>
		Ashish gupta:<br>
		9521710556<br>
		IIT Bombay Campus<br>
		Powai
	</address>

	<bdo dir="rtl">Bidirectional override</bdo>

	<p><cite>hello there</cite> heading cited</p>

	<p id="p1">Im different in style from all paragraphs hihihi</p>
	<p class="class1">i belong to class 1 paragraph </p>
	<p class="class2"> i belongs to class2 paragraph</p>

</body>

</html>
